.wrapper {
 background-color: #4FC7CC;
 font-family: 'Roboto', sans-serif;
}

.content {
  text-align: center;
  text-decoration: none;
  color: black;

}
.biography {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px
  border:20px
}

#intro {
  background-color: #A8DDAC;
}

#summary {
  background-color: #A8DDAC;
}

.portrait-and-quote :first-child {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 40px;
  border-color: #A8DDAC;
  border-style: solid;
  border-width: 5px;
}

article {
  position: absolute;
  top: 500px;
  left: 75px;
  list-style-type: none;
}

article ul:last-child{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: space-between;
  padding: 10px;
}

footer{
  background-color: #4A8FE7;
  padding: 10px;
}

ul:last-of-type {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style-type: none;
}


a{
  color: #black;
}
.credits{
  padding-top: 10px;
}
