<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Todo Index</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">

    </style>
  </head>
  <body>
    <h1>{{message_views_dict}}</h1>
    <form action="{% url 'todoapp_urls_py:save_todo_path' %}" method="post">
      {% csrf_token %}
      <input type="text" name="todo_text_input_html"/>
      <button type="submit">submit</button>
    </form>
    {% if todos_views_dict %}
    <ul>
      {% for todo in todos_views_dict %}
      <li>{{todo.id}}) {{todo.text}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
